<div class="new-post-container">
<h1>EDIT YOUR POST</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
</div>

<script>
  $(document).ready(function(){
   $('body').css('overflow', 'scroll') ;

});
</script>