<div class="new-post-container">
<h1>NEW POST</h1>

<%= render 'form' %>

<%= link_to 'BACK TO POSTS', posts_path, :class => "back-tl" %>
</div>

<script>
  $(document).ready(function(){
   $('body').css('overflow', 'scroll') ;

});
</script>